@use '../constans/common-styles.scss';
@import '../constans/colors.scss';

.strava-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: $strava-color;
  /* oficjalny Strava Orange */
  color: $white-color;
  text-decoration: none;
  font-weight: 500;
  border-radius: 6px;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
  top: 20px;
  left: 20px;
  z-index: 2;
  margin: 15px;
}

.strava-btn:hover {
  background-color: $strava-color-hover;
}

.strava-btn:active {
  transform: scale(0.98);
}

.strava-icon {
  width: 18px;
  height: 18px;
  filter: brightness(0) invert(1);
}

.welcome-page__photo {
  height: 100dvh;
  object-fit: cover;
}

.welcome-page__scroll-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 48px;
  right: 48px;
  z-index: 2222;
  cursor: pointer;

  .mat-icon {
    height: 40px;
    width: 40px;
    font-size: 40px;
    color: $gray-color;
  }
}

.welcome-page__info-app {
  height: 100vh;
}

.welcome-page__info-app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 24px;
}

.welcome-page__app-desc {
  line-height: 2em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-page__header {
  width: 100%;
  position: absolute;
  height: fit-content;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 22222;
  display: flex;
  align-content: center;
  flex-grow: unset;
  align-items: center;
  gap: 16px;

  @media (min-width: 768px) {
    color: $gray-color;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
}

.welcome-page__footer {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 8px;
  justify-content: space-around;
  padding: 12px 0;
}

.welcome-page__heading {
  margin: 0 auto;
  display: flex;
  gap: 8px;
  font-size: 1.2rem;

  @media (min-width: 768px) {
    flex-direction: row;
    font-size: 2rem;
    margin-right: 60px;
  }
}

.welcome-page__app-desc-header {
  padding-top: 66px;
}

.welcome-page__footer-item {
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    font-size: unset;
  }
}

.welcome-page__footer-anchor {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  color: $black-color;
  text-decoration: underline;
  text-underline-offset: 3px;

  cursor: pointer;
  transition: color 0.2s ease;
}

.welcome-page__footer-anchor:hover {
  color: $black-color;
}

.welcome-page__footer-anchor mat-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}
