@if (isSaving()) {
  <div class="tra-ai-question__spinner">
    <mat-spinner></mat-spinner>

    <div class="tra-ai-question__spinner-text">
      <span>Pobieranie odpowiedzi, może potrwać chwile...</span>
    </div>
  </div>
}

<div [class]="{ 'tra-ai-question__spinner-mode': isSaving() }">
  <form class="tra-ai-question__form">
    <mat-form-field class="tra-ai-question__form-select">
      <mat-label>Wybierz jak filtrować aktywności</mat-label>
      <mat-select [formField]="aiRequestFormModelForm.filterType">
        <mat-option value="last3months">Ostatnie trzy miesiące</mat-option>
        <mat-option value="last6months">Ostatnie pół roku</mat-option>
        <mat-option value="lastYear">Ostatni rok</mat-option>
        <mat-option value="last18months">Ostatni 1 rok i 6 miesięcy</mat-option>
        <mat-option value="customDate">Własna data</mat-option>
        <mat-option value="selected">Wybrane aktywności</mat-option>

        <!-- 'last3months' | 'last6months' | 'lastYear' | 'customDate' | 'selected' | 'last18months' -->
      </mat-select>
    </mat-form-field>
    @let filterTypeValue = aiRequestFormModelForm.filterType().value();

    @if (filterTypeValue === 'customDate') {
      <mat-form-field class="tra-ai-question__control-date">
        <mat-label>Wybierz daty</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            [formField]="aiRequestFormModelForm.startDateLocalStart"
            placeholder="Data początkowa"
          />
          <input
            matEndDate
            [formField]="aiRequestFormModelForm.startDateLocalEnd"
            placeholder="Data końcowa"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    }

    @if (filterTypeValue === 'selected') {
      @if (activitiesResource.isLoading()) {
        <div class="tra-ai-question__spinner-activities">
          <mat-spinner></mat-spinner>
        </div>
      }
      @if (!!activitiesResource.value()) {
        <div class="tra-ai-question__activities-min">
          <mat-selection-list
            #shoes
            (selectionChange)="selectionChange(shoes.selectedOptions.selected)"
          >
            @for (activity of activitiesResource.value(); track activity) {
              <mat-list-option [value]="activity.id">{{ activity.description }}</mat-list-option>
            }
          </mat-selection-list>
        </div>
      }
    }

    <mat-form-field class="tra-ai-question__prompt-input">
      <mat-label>Prompt do AI:</mat-label>
      <textarea
        matInput
        rows="10"
        type="text"
        [formField]="aiRequestFormModelForm.prompt"
      ></textarea>
    </mat-form-field>
    <button (click)="sendToModel()" class="tra-ai-question__button" matButton="filled">
      Zadaj pytanie
    </button>
  </form>
  <br />
  @if (htmlContent()) {
    <div class="tra-ai-question__response" [innerHTML]="htmlContent()"></div>
  }
</div>
